{% extends 'components/layout.swig.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/css/pages/profile.css">

    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block content %}
    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            {% include 'components/flashhandler.swig.html' %}
            {% include 'components/profile/sidebar.swig.html' %}
            <!-- Profile Content -->
            <div class="col-md-9">
                <a class="btn-u btn-u-default btn-u-sm btn-block" href="/profile/createAddon" role="button">Create New Addon</a>
                <div class="profile-body">
                    {% if user.addons.length == 0 %}
                        <h1 style="text-align: center;">You have no addons.</h1>
                    {% endif %}
                    {% for addon in user.addons %}
                        {% if loop.first %}
                            <div class="row">
                        {% elseif loop.index0 % 2 ==0 %}
                            </div>
                            <hr>
                            <div class="row">
                        {% endif %}

                        <div class="col-sm-6">
                            <div class="projects">
                                <h2><a class="color-dark" href="/profile/addons/{{ addon.id }}">{{ addon.name }}</a></h2>
                                <ul class="list-unstyled list-inline blog-info-v2">
                                    <li>Status: <a class="color-green" href="/profile/addons/{{ addon.id }}">{{ addon.status }}</a></li>
                                    <li><i class="icon icon-clock-o"></i> {{ addon.createdAt.toDateString() }}</li>
                                </ul>
                                <p>{{ addon.description }}</p>
                                <br>
                            </div>
                            <div class="project-share">
                                <ul class="list-inline comment-list-v2 pull-left">
                                    <li><i class="icon icon-eye"></i> <a href="/profile/addons/{{ addon.id }}#views">{{ addon.views }}</a></li>
                                    <li><i class="icon icon-comments"></i> <a href="/profile/addons/{{ addon.id }}#comments">{{ addon.comments }}</a></li>
                                    <li><i class="icon icon-retweet"></i> <a href="/profile/addons/{{ addon.id }}#customers">{{ addon.customers.length }}</a></li>
                                </ul>
                            </div>
                        </div>
                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div><!--/container-->
    <!--=== End Profile ===-->
{% endblock %}

{% block scripts %}

{% endblock %}
