{% extends 'components/layout.swig.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/css/pages/profile.css">

    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block content %}
    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            {% include 'components/profile/sidebar.swig.html' %}
            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                    <div class="tab-v1">
                        <ul class="nav nav-justified nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
                            <li><a data-toggle="tab" href="#media">Media</a></li>
                            <li><a data-toggle="tab" href="#specialFeatures">Special Features</a></li>
                            <li><a data-toggle="tab" href="#finalize">Finalize</a></li>
                        </ul>
                        <div class="tab-content">
                            {# General addon stuff #}
                            <div id="general" class="profile-edit tab-pane fade in active">
                                <h2 class="heading-md">General Addon Information</h2>

                                <p>Here you need to specify your addon's general information. All of this information is
                                    required and will make up your addon listing.</p>
                                <br>

                                <form class="sky-form" id="generalForm">
                                    <dl class="dl-horizontal">
                                        <dt>Addon Name</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-font"></i>
                                                    <input type="text" placeholder="Addon Name" name="name">
                                                    <b class="tooltip tooltip-bottom-right">This is the name of your
                                                        addon. Choose something short and descriptive.</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Desired Price</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-usd"></i>
                                                    <input type="number" name="desiredPrice"
                                                           placeholder="Desired Price">
                                                    <b class="tooltip tooltip-bottom-right">Don't forget your
                                                        password</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Addon Gamemode</dt>
                                        <dd>
                                            <section>
                                                <label class="select">
                                                    <select name="type">
                                                        <option value="0">Sandbox Based</option>
                                                        <option value="1">Dark RP</option>
                                                        <option value="2">TTT</option>
                                                        <option value="3">Murder</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Addon Type</dt>
                                        <dd>
                                            <section>
                                                <label class="select">
                                                    <select name="type">
                                                        <option value="0">Weapon</option>
                                                        <option value="1">Chatbox</option>
                                                        <option value="2">Utility</option>
                                                        <option value="3">Miscellaneous</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Description</dt>
                                        <dd>
                                            <textarea id="editor" rows="12" name="description"></textarea>
                                        </dd>
                                    </dl>
                                </form>
                            </div>

                            <div id="media" class="profile-edit tab-pane fade">
                                <h2 class="heading-md">Addon Media</h2>

                                <p>Here you can upload images for your addon and provide a link to a Youtube video. Adding media to your addon is highly reccomended.</p>
                                <br>

                                <form class="sky-form" id="generalForm">
                                    <dl class="dl-horizontal">
                                        <dt>Banner</dt>
                                        <dd>

                                        </dd>
                                        <dt>Images</dt>
                                        <dd>
                                        </dd>
                                        <dt>Youtube Video</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-youtube"></i>
                                                    <input type="text" placeholder="https://www.youtube.com/watch?v=pEgFvAQN_WQ" name="video">
                                                    <b class="tooltip tooltip-bottom-right">Provide a link to your Youtube video here.</b>
                                                </label>
                                            </section>
                                        </dd>
                                    </dl>
                                </form>
                            </div>

                            <div id="media" class="profile-edit tab-pane fade">
                                <h2 class="heading-md">Manage your Security Settings</h2>

                                <p>Change your password.</p>
                                <br>

                                <form class="sky-form" id="generalForm">
                                    <dl class="dl-horizontal">
                                        <dt>Addon Name</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-font"></i>
                                                    <input type="text" placeholder="Addon Name" name="name">
                                                    <b class="tooltip tooltip-bottom-right">This is the name of your
                                                        addon. Choose something short and descriptive.</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Desired Price</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-usd"></i>
                                                    <input type="number" name="desiredPrice"
                                                           placeholder="Desired Price">
                                                    <b class="tooltip tooltip-bottom-right">Don't forget your
                                                        password</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Addon Gamemode</dt>
                                        <dd>
                                            <section>
                                                <label class="select">
                                                    <select name="type">
                                                        <option value="0">Sandbox Based</option>
                                                        <option value="1">Dark RP</option>
                                                        <option value="2">TTT</option>
                                                        <option value="3">Murder</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Addon Type</dt>
                                        <dd>
                                            <section>
                                                <label class="select">
                                                    <select name="type">
                                                        <option value="0">Weapon</option>
                                                        <option value="1">Chatbox</option>
                                                        <option value="2">Utility</option>
                                                        <option value="3">Miscellaneous</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </dd>
                                    </dl>
                                    <a data-toggle="tab" href="#specialFeatures" class="btn-u" role="button">Next</a>
                                </form>
                            </div>


                            <div id="specialFeatures" class="profile-edit tab-pane fade">
                                <h2 class="heading-md">Special Addon Features.</h2>

                                <p>Below you can enable special Mod Mountain features for your addon. Please note that
                                    some of these features require you to add extra Lua to your addon.</p>
                                <br>

                                <form class="sky-form" id="sky-form3" action="#">
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Auto Updater</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Configurator Enabled</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" checked=""
                                                                 name="checkbox-toggle-1"><i></i>Leak Protection</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Stat Tracker</label>
                                    <hr>
                                    <button type="button" class="btn-u btn-u-default">Reset</button>
                                    <button class="btn-u" type="submit">Save Changes</button>
                                </form>
                            </div>

                            <div id="finalize" class="profile-edit tab-pane fade">
                                <h2 class="heading-md">Finalize Your Addon.</h2>

                                <p>Below are the notifications you may manage.</p>
                                <br>

                                <form class="sky-form" id="sky-form3" action="#">
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Email
                                        notification</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Send me email
                                        notification when a user comments on my blog</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Send me email
                                        notification for the latest update</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Send me email
                                        notification when a user sends me message</label>
                                    <hr>
                                    <label class="toggle"><input type="checkbox" 
                                                                 name="checkbox-toggle-1"><i></i>Receive our monthly
                                        newsletter</label>
                                    <hr>
                                    <button type="button" class="btn-u btn-u-default">Reset</button>
                                    <button class="btn-u" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div><!--/container-->
    <!--=== End Profile ===-->
{% endblock %}

{% block scripts %}
    <script src="/plugins/textboxio/textboxio.js"></script>
    <script type="text/javascript">
        var editor = textboxio.replace('#editor');
    </script>
{% endblock %}
