{% extends 'components/layout.swig.html' %}

{% block css %}
	{% include 'components/profile/commoncss.swig.html' %}
{% endblock %}

{% block content %}
	<!--=== Profile ===-->
	<div class="container content profile">
		<div class="row">
			{% include 'components/flashhandler.swig.html' %}
			{% include 'components/profile/sidebar.swig.html' %}
			<!-- Profile Content -->
			<div class="col-md-9">
				<div class="profile-body">
					<h1 style="text-align: center;">TODO</h1>
				</div>
			</div>
			<!-- End Profile Content -->
		</div>
	</div><!--/container-->
	<!--=== End Profile ===-->
{% endblock %}

{% block scripts %}

{% endblock %}
