{% extends 'components/layout.swig.html' %}

{% block css %}
    {% include 'components/profile/commoncss.swig.html' %}
{% endblock %}

{% block content %}
    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            {% include 'components/flashHandler.swig.html' %}
            {% include 'components/profile/sidebar.swig.html' %}
            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                    <div class="tab-v1">
                        <ul class="nav nav-justified nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#general">Your Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <form class="sky-form profile-edit tab-pane fade in active" id="generalForm" action="/profile/settings" method="POST" enctype="MULTIPART/FORM-DATA">
                                <fieldset>
                                    <section>
                                        <label class="label">Username</label>
                                        <label class="input">
                                            <i class="icon-prepend icon icon-user"></i>
                                            <input type="text" value="{{ user.username }}" name="username" id="usernameInput">
                                            <b class="tooltip tooltip-bottom-left">This is your public username. Feel free to change it if you don't like the one we imported from steam.</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="label">Primary Email Address</label>
                                        <label class="input">
                                            <i class="icon-prepend icon icon-envelope"></i>
                                            <input type="email" value="{{ user.email }}" name="primaryEmail" id="emailInput">
                                            <b class="tooltip tooltip-bottom-left">Your primary email address. This is where we'll send emails to.</b>
                                        </label>
                                    </section>
                                </fieldset>

                                <footer>
                                    <button type="submit" class="button">Save Changes</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div><!--/container-->
    <!--=== End Profile ===-->
{% endblock %}