{% extends 'components/layout.swig.html' %}

{% block css %}
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/css/pages/log-reg-v3.css">
{% endblock %}

{% block content %}
    {% include 'components/breadcrumbs.swig.html' %}
    <!--=== Content Part ===-->
    <div class="content container">
        <div class="row">
            {# Filter options #}
            <div class="col-md-3 filter-by-block md-margin-bottom-60">
                <h1>Filter By</h1>
                {# Gamemodes #}
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Gamemodes
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="gamemode.sandbox"/>
                                            <i></i>
                                            Sandbox Based
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="gamemode.darkrp"/>
                                            <i></i>
                                            Dark RP
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="gamemode.ttt"/>
                                            <i></i>
                                            TTT
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="gamemode.murder"/>
                                            <i></i>
                                            Murder
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="gamemode.other"/>
                                            <i></i>
                                            Other
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/end panel group-->

                {# Addon type (chatbox, weapon, utility, etc) #}
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                    Type
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="type.chatbox"/>
                                            <i></i>
                                            Chatbox
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="type.weapon"/>
                                            <i></i>
                                            Weapon
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="type.utility"/>
                                            <i></i>
                                            Utility
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="type.miscellaneous"/>
                                            <i></i>
                                            Miscellaneous
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/end panel group-->

                {# Features (specific to Mod Mountain) #}
                <div class="panel-group" id="accordion-v3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                    Features
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="feature.autoUpdater"/>
                                            <i></i>
                                            Auto Updater
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="feature.configurator"/>
                                            <i></i>
                                            Configurator Enabled
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="feature.leakProtection"/>
                                            <i></i>
                                            Leak Protection
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="feature.statTracker"/>
                                            <i></i>
                                            Stat Tracker
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/end panel group-->

                {# Minimum rating #}
                <div class="panel-group margin-bottom-30" id="accordion-v6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                    Minimum Rating
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="stars-ratings stars-ratings-label">
                                    <input type="radio" name="stars-rating" id="stars-rating-5">
                                    <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-4">
                                    <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-3">
                                    <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-2">
                                    <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-1">
                                    <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/end panel group-->

                {# Reset button #}
                <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Reset
                </button>
            </div>

            <div class="col-md-9">
                <div class="row margin-bottom-5">
                    <div class="col-sm-4 result-category">
                        <h2>ADDONS</h2>
                        {#<small class="shop-bg-red badge-results">45 Results</small>#}
                    </div>
                    <div class="col-sm-8 col-offset-4">
                        <ul class="list-inline clear-both">
                            <li class="sort-list-btn">
                                <h3>Sort By :</h3>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        Popularity <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Rating</a></li>
                                        <li><a href="#">Highest Price to Lowest</a></li>
                                        <li><a href="#">Lowest Price to Highest</a></li>
                                    </ul>
                                </div>
                            </li>
                            {#<li class="sort-list-btn">#}
                            {#<h3>Show :</h3>#}
                            {#<div class="btn-group">#}
                            {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
                            {#20 <span class="caret"></span>#}
                            {#</button>#}
                            {#<ul class="dropdown-menu" role="menu">#}
                            {#<li><a href="#">All</a></li>#}
                            {#<li><a href="#">10</a></li>#}
                            {#<li><a href="#">5</a></li>#}
                            {#<li><a href="#">3</a></li>#}
                            {#</ul>#}
                            {#</div>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
                <!--/end result category-->

                <div class="filter-results">
                    {% for addon in addons %}
                    {% endfor %}
                    <div class="list-product-description product-description-brd margin-bottom-30">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="shop-ui-inner.html"><img class="img-responsive sm-margin-bottom-20"
                                                                  src="/img/blog/16.jpg" alt=""></a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a>
                                            </h4></li>
                                        <li><span class="gender text-uppercase">Men</span></li>
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10">$60.00</span>
                                        <span class="title-price line-through">$95.00</span>
                                    </div>
                                    <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend
                                        lobortis. Aenean nibh est, hendrerit non conva.</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="#">Add to Wishlist</a>
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="#">Add to Compare</a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn-u btn-u-sea-shop">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-product-description product-description-brd margin-bottom-30">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="shop-ui-inner.html"><img class="img-responsive sm-margin-bottom-20"
                                                                  src="/img/blog/17.jpg" alt=""></a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a>
                                            </h4></li>
                                        <li><span class="gender text-uppercase">Men</span></li>
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10">$60.00</span>
                                        <span class="title-price line-through">$95.00</span>
                                    </div>
                                    <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend
                                        lobortis. Aenean nibh est, hendrerit non conva.</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="#">Add to Wishlist</a>
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="#">Add to Compare</a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn-u btn-u-sea-shop">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-product-description product-description-brd margin-bottom-30">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="shop-ui-inner.html"><img class="img-responsive sm-margin-bottom-20"
                                                                  src="/img/blog/21.jpg" alt=""></a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a>
                                            </h4></li>
                                        <li><span class="gender text-uppercase">Men</span></li>
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10">$60.00</span>
                                        <span class="title-price line-through">$95.00</span>
                                    </div>
                                    <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend
                                        lobortis. Aenean nibh est, hendrerit non conva.</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="#">Add to Wishlist</a>
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="#">Add to Compare</a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn-u btn-u-sea-shop">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-product-description product-description-brd margin-bottom-30">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="shop-ui-inner.html"><img class="img-responsive sm-margin-bottom-20"
                                                                  src="/img/blog/22.jpg" alt=""></a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a>
                                            </h4></li>
                                        <li><span class="gender text-uppercase">Men</span></li>
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10">$60.00</span>
                                        <span class="title-price line-through">$95.00</span>
                                    </div>
                                    <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend
                                        lobortis. Aenean nibh est, hendrerit non conva.</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="#">Add to Wishlist</a>
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="#">Add to Compare</a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn-u btn-u-sea-shop">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-product-description product-description-brd">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="shop-ui-inner.html"><img class="img-responsive sm-margin-bottom-20"
                                                                  src="/img/blog/23.jpg" alt=""></a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a>
                                            </h4></li>
                                        <li><span class="gender text-uppercase">Men</span></li>
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating-selected fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                                <li><i class="rating fa fa-star"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10">$60.00</span>
                                        <span class="title-price line-through">$95.00</span>
                                    </div>
                                    <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend
                                        lobortis. Aenean nibh est, hendrerit non conva.</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="#">Add to Wishlist</a>
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="#">Add to Compare</a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn-u btn-u-sea-shop">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/end filter resilts-->

                <div class="text-center">
                    <ul class="pagination pagination-v2">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!--/end pagination-->
            </div>
        </div>
        <!--/end row-->
    </div><!--/end container-->
    <!--=== End Content Part ===-->
{% endblock %}

        {% block scripts %}
        {% endblock %}