{% extends 'components/layout.swig.html' %}

{% block css %}
  {# Default CSS #}
  <link rel="stylesheet" href="{{ assetPrefix }}/css/pages/log-reg-v3.css">

  {# Highlight reel CSS #}
  <link rel='stylesheet' href='{{ assetPrefix }}/plugins/master-slider/style/masterslider.css'>
  <link rel='stylesheet' href='{{ assetPrefix }}/plugins/master-slider/skins/default/style.css'>

  {# Common profile CSS #}
  {% include 'components/profile/commoncss.swig.html' %}
{% endblock %}

{% block content %}
  <div class="shop-product">
    <div class="container">
      <div class="row">
        {% include 'components/flashhandler.swig.html' %}

        {# Highlight reel #}
        <div class="col-md-6 md-margin-bottom-50">
          <div class="ms-showcase2-template">
            <div id="highlightReel" class="master-slider ms-skin-default">
              {% for video in addon.videos %}
                {% if video.type === 1 %}
                  <div class="ms-slide">
                    <img src="{{ assetPrefix }}/plugins/master-slider/style/blank.gif"
                         data-src="//img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
                    <a href="//www.youtube.com/embed/{{ video.id }}?hd=1&wmode=opaque&controls=1&showinfo=0"
                       data-type="video"></a>
                    <img class="ms-thumb responsive-image" src="//img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
                  </div>
                {% endif %}
              {% endfor %}

              {% for image in addon.images %}
                {% if image.type === 1 %}
                  <div class="ms-slide">
                    <img src="{{ assetPrefix }}/plugins/master-slider/style/blank.gif"
                         data-src="/addons/{{ addon.id }}/artwork/{{ image.objectId }}"/>
                    <img class="ms-thumb responsive-image" src="/addons/{{ addon.id }}/artwork/{{ image.objectId }}">
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {# End highlight reel #}

        <div class="col-md-6">
          {# Addon name and short description #}
          <div class="shop-product-heading">
            <h1>{{ addon.name }}</h1>
          </div>
          <p>{{ addon.shortDescription }}</p><br>
          {# End addon name and short description #}

          {# Addon price + sale price (if specificed) #}
          <ul class="list-inline shop-product-prices margin-bottom-30">
            {% if addon.price > 0.0 %}
              {% if addon.discount > 0.0 %}
                <li class="shop-red">${{ addon.price / 100 * (1.0 - addon.discount) }}</li>
                <li class="line-through">${{ addon.price / 100 }}</li>
              {% else %}
                <li class="">${{ addon.price / 100 }}</li>
              {% endif %}
            {% else %}
              <li class="shop-red">Free</li>
            {% endif %}
          </ul>
          {# End addon price #}

          {# Download / purchase / donate buttons #}
          <div class="margin-bottom-40">
            {% if addon.price > 0.0 %}
              {% if addon.canDownload(user) %}
                <button type="button" class="btn-u btn-u-sea-shop btn-u-lg"
                        onclick="window.location.href = '/addons/{{ addon.id }}/download'">Download
                </button>
              {% else %}
                <button type="button" id="purchaseButton" class="btn-u btn-u-sea-shop btn-u-lg">
                  Purchase
                </button>
              {% endif %}
            {% else %}
              <button type="button" class="btn-u btn-u-sea-shop btn-u-lg"
                      onclick="window.location.href = '/addons/{{ addon.id }}/download'">Download
              </button>
              <button type="button" id="purchaseButton" class="btn-u btn-u-sea-shop btn-u-lg">Donate
              </button>
            {% endif %}
          </div>
          {# End download / purchase / donate buttons #}

          {# Addon wishlist and tags #}
          <ul class="list-inline add-to-wishlist add-to-wishlist-brd">
            {% if user %}
              <li class="wishlist-in">
                <i class="icon icon-heart"></i>
                <a id="wishlistLink">
                  {% if user.wishesForAddon(addon) %}
                    Remove from Wishlist
                  {% else %}
                    Add to Wishlist
                  {% endif %}
                </a>
              </li>
            {% endif %}
          </ul>
          <p class="wishlist-category"><strong>Tags:</strong> {{ addon.prettyTags() }}</p>
          {# End addon wishlist and tags #}
        </div>
      </div>
    </div>
  </div>

  {# Tabs area #}
  <div class="content-md container">
    <div class="tab-v5">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#descriptionPane" role="tab" data-toggle="tab">Description</a></li>
        <li><a href="#mediaPane" role="tab" data-toggle="tab">Media</a></li>
        {#<li><a href="#statisticsPane" role="tab" data-toggle="tab">Statistics</a></li>#}
        {#<li><a href="#commentsPane" role="tab" data-toggle="tab">Comments</a></li>#}
        {#<li><a href="#reviewsPane" role="tab" data-toggle="tab">Reviews</a></li>#}
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active in" id="descriptionPane">
          <div class="row">
            <div class="col-md-7">
              {{ addon.description|markdown }}
            </div>

            <div class="col-md-5">
              <h3 class="heading-md margin-bottom-20">Specifics</h3>

              <ul class="list-unstyled specifies-list">
                <li><i class="icon icon-caret-right"></i>Author:
                  <span>{{ user.username }}</span></li>
                <li><i class="icon icon-caret-right"></i>Gamemode:
                  <span>{{ addon.prettyGamemode() }}</span></li>
                <li><i class="icon icon-caret-right"></i>Contains DRM:
                  <span>{% if addon.containsDrm %}Yes{% else %}No{% endif %}</span></li>
                <li><i class="icon icon-caret-right"></i>Contacts Outside Servers:
                  <span>{% if addon.outsideServers %}Yes{% else %}No{% endif %}</span></li>
                <li><i class="icon icon-caret-right"></i>Size:
                  <span>{{ (addon.size / 1024).toFixed(2) }} KB</span></li>
              </ul>
            </div>
          </div>
        </div>

        {# Media Pane #}
        <div class="tab-pane fade" id="mediaPane">
          <div class="row">
            {% for video in addon.videos %}
              {% if video.type === 0 %}
                <div class="col-md-8">
                  <div class="thumbnails thumbnail-style">
                    <div class="responsive-video">
                      <iframe width="100%" height="100%" frameborder="0" allowfullscreen
                              src="https://www.youtube.com/embed/{{ video.id }}"></iframe>
                    </div>
                  </div>
                </div>
              {% endif %}

            {% endfor %}

            {% for image in addon.images %}
              {% if image.type === 0 %}
                <div class="col-md-4" style="display:flex;justify-content:center;align-items:center;">
                  <div class="thumbnails thumbnail-style">
                    <img class="img-responsive" src="/addons/{{ addon.id }}/artwork/{{ image.objectId }}"/>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        {# Statistics pane #}
        <div class="tab-pane fade" id="statisticsPane">
          <div class="row">
            <div class="col-md-6">
              <h2>Statistics</h2>
            </div>
          </div>
        </div>

        {# Comments pane #}
        <div class="tab-pane fade" id="commentsPane">
          <div class="row">
            <div class="col-md-12">
              <h2>Comments</h2>
              {% if !addon.comments || addon.comments.length === 0 %}
              <p>Your addon does not have any comments yet. Have you considered advertising?</p>
              {% else %}
                <p>Comments go here!</p>
              {% endif %}
            </div>
          </div>
        </div>

        {# Reviews pane #}
        <div class="tab-pane fade" id="reviewsPane">
          <div class="row">
            <div class="col-md-6">
              <h2>Reviews</h2>
              {% if !addon.reviews || addon.reviews.length === 0 %}
              <p>Your addon does not have any reviews yet. Have you considered advertising?</p>
              {% else %}
                <p>Reviews go here!</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End tabs area #}

  {# Payment modal #}
  <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Checkout</h4>
        </div>
        <div class="modal-body sky-form">
          <section>
            <label class="label">Choose Payment Method</label>

            <div class="inline-group">
              <label class="radio"><input type="radio" name="radio-inline" checked
                                          id="payWithAccountBalance"><i></i>Account Balance</label>
              {#<label class="radio"><input type="radio" name="radio-inline" id="payWithPayPal"><i></i>PayPal</label>#}
              <label class="radio"><input type="radio" name="radio-inline" id="payWithCreditCard"><i></i>Credit
                Card</label>
            </div>
          </section>

          {% if addon.price == 0 %}
            <section>
              <label class="label">Donation Amount</label>
              <label class="input">
                <input type="number" id="donationInput">
              </label>
            </section>
          {% else %}
            <section>
              <label class="label">Coupon Code</label>
              <label class="input" id="couponLabel">
                <input type="text" id="couponInput">
              </label>

              <div class="note" id="couponNote"></div>
            </section>
          {% endif %}
          <p>Total Bill: <span id="totalBill">${{ addon.price / 100 }} USD</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {% if addon.price == 0 %}
            <button type="button" class="btn btn-primary" id="checkoutButton">Donate</button>
          {% else %}
            <button type="button" class="btn btn-primary" id="checkoutButton">Purchase</button>
          {% endif %}
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  {# End payment modal #}
{% endblock %}

{% block scripts %}
  {# Stripe Checkout #}
  <script src="https://checkout.stripe.com/checkout.js"></script>

  {# Used for the highlight reel #}
  <script src="{{ assetPrefix }}/plugins/master-slider/js/jquery.easing.js"></script>
  <script src="{{ assetPrefix }}/plugins/master-slider/js/masterslider.js"></script>

  <script async>
    // Attach the addon to the window so it can be accessed from client-side Javascript
    window.addon = {{ addon|json|raw }};
    window.stripePublicKey = '{{ sails.config.stripe.publicKey }}';

    var highlightReel = $("#highlightReel");
    highlightReel.masterslider({
      width: 550,
      height: 550,
      space: 5,
      view: 'fade',
      controls: {
        arrows: {
          autohide: false
        },
        thumblist: {
          autohide: false,
          dir: 'h',
          arrows: false,
          align: 'bottom',
          width: 180,
          height: 170,
          margin: 5,
          space: 5
        }
      }
    });
  </script>
  <script async src="{{ assetPrefix }}/js/pages/addons/viewaddon.js"></script>
{% endblock %}
