<div class="shop-subscribe"></div>
<div id="footer-v3" class="footer-v3">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-sm-3 md-margin-bottom-40">
          <h1>Mod Mountain</h1>
          <p>Mod Mountain is a marketplace for video game addons and scripts. We're currently in Alpha and changing every day!</p>
          <p>Please report all bugs to SirSavary, along with any suggestions.</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Simple List -->
        <div class="col-sm-3 md-margin-bottom-40">
          <div class="thumb-headline"><h2>Powered By</h2></div>
          <ul class="list-unstyled simple-list margin-bottom-20">
            <li><a href="https://nodejs.org">Node.js</a></li>
            <li><a href="http://www.typescriptlang.org">Typescript</a></li>
            <li><a href="https://www.debian.org">Debian</a></li>
            <li><a href="https://www.mongodb.org">MongoDB</a></li>
            <li><a href="http://redis.io">Redis</a></li>
            <li><a href="http://socket.io">Socket.io</a></li>
          </ul>
        </div><!--/col-md-3-->

        <!-- End Simple List -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <!-- Terms Info-->
        <div class="col-md-6">
          <p>
            2015 &copy; All Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </p>
        </div>
        <!-- End Terms Info-->
      </div>
    </div>
  </div><!--/copyright-->
</div>