<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
  {% if title %}
    <title>{{ title }} - Mod Mountain</title>
  {% else %}
    <title>Mod Mountain</title>
  {% endif %}

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {#<link rel='stylesheet' href='{{ assetPrefix }}/styles.css'>#}

  {#<!-- Web Fonts -->#}
  <link rel='stylesheet' href='{{ assetPrefix }}/css/googlefonts.css'>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{{ assetPrefix }}/plugins/bootstrap-3.3.4/css/bootstrap.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/app.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/style.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/shop.style.css">

  <link rel="stylesheet" href="{{ assetPrefix }}/css/shop.plugins.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/shop.blocks.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/ie8.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/blocks.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/plugins.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="{{ assetPrefix }}/css/headers/header-v5.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/css/footers/footer-v3.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{{ assetPrefix }}/plugins/animate.css">
  <link rel="stylesheet" href="{{ assetPrefix }}/plugins/scrollbar/css/jquery.mCustomScrollbar.css">

  {# FontIcons #}
  {#<script src="https://use.fonticons.com/b63071a6.js"></script>#}
  <link rel="stylesheet" href="{{ assetPrefix }}/css/fonticons.css">

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#9b6bcc">

  {% block css %}{% endblock %}
  {% if sails.config.analytics %}{% include 'components/analytics.swig.html' %}{% endif %}
</head>

<body class="header-fixed">
<div class="wrapper">
  {% include 'components/navigation.swig.html' %}
  {% if breadcrumbs %}
    {% include 'components/breadcrumbs.swig.html' %}
  {% endif %}

  {% block content %}{% endblock %}

  {% include 'components/footer.swig.html' %}
</div>

{# Sync Plugins #}
<script src="{{ assetPrefix }}/plugins/jquery/jquery-1.11.3.js"></script>
{#<script src="{{ assetPrefix }}/plugins/jquery/jquery-migrate.js"></script>#}
<script src="{{ assetPrefix }}/plugins/sails.io.js"></script>
<script src="{{ assetPrefix }}/plugins/bootstrap-3.3.4/js/bootstrap.js"></script>
<script src="{{ assetPrefix }}/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

{# Async Plugins #}
<script async src="{{ assetPrefix }}/plugins/back-to-top.js"></script>

<!--[if lt IE 9]>
<script async src="{{ assetPrefix }}/plugins/respond.js"></script>
<script async src="{{ assetPrefix }}/plugins/html5shiv.js"></script>
<script async src="{{ assetPrefix }}/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
<script>
  var alertArea = $("#alertArea");
  function addAlert(type, title, message, area) {
    if (type === 'error') type = 'danger';
    if (area === undefined) area = alertArea;

    var alertString = "<br><div class=\"alert alert-" + type + " alert-dismissible\" role=\"alert\">";
    alertString += "  <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;<\/span><\/button>";
    alertString += "  <strong>" + title + "<\/strong> " + message;
    alertString += "<\/div>";
    $(alertString).appendTo(area).hide().slideDown();
  }

  function getCSRF(cb) {
    io.socket.get('/csrfToken', function (data) {
      cb(data._csrf);
    })
  }
</script>
<script async>
  io.sails.transports = ['polling'];

  $(function () {
    /*Tooltips*/
    $('.tooltips').tooltip();
    $('.tooltips-show').tooltip('show');
    $('.tooltips-hide').tooltip('hide');
    $('.tooltips-toggle').tooltip('toggle');
    $('.tooltips-destroy').tooltip('destroy');

    /*Popovers*/
    $('.popovers').popover();
    $('.popovers-show').popover('show');
    $('.popovers-hide').popover('hide');
    $('.popovers-toggle').popover('toggle');
    $('.popovers-destroy').popover('destroy');

    $('.clickable').click(function () {
      window.location.href = $(this).data('url');
    });
  });

  io.socket.on('connect', function () {
    io.socket.on('notification', function (data) {
      console.log(data)
    });

    {% if user and user.notifications.length > 0 %}
    var notificationAlert = $("#notificationAlert");
    var notificationAlertText = $("#notificationAlertText");
    $('.close').on('click', function (e) {
      var notificationToRemove = $(this).parent().parent();
      getCSRF(function (csrf) {
        io.socket.post('/profile/notification/' + notificationToRemove.data('id'), {_csrf: csrf});
        notificationToRemove.slideUp("normal", function () {
          $.when(notificationToRemove.remove()).then(function() {
            var totalNotifications = parseInt(notificationAlertText.text()) - 1;
            if (totalNotifications <= 0) {
              notificationAlert.fadeOut("normal", function() {
                notificationAlert.remove();
              })
            } else {
              notificationAlertText.text(totalNotifications);
            }
          });
        });
      });
    });
    {% endif %}
  });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
