<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
	{% if title %}
		<title>ModMtn - {{ title }}</title>
	{% else %}
		<title>ModMtn</title>
	{% endif %}

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Web Fonts -->
	<link rel='stylesheet' href='{{ assetPrefix }}/css/googlefonts.css'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="{{ assetPrefix }}/plugins/bootstrap-3.3.4/css/bootstrap.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/css/app.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/css/style.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/css/shop.style.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/css/purple.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="{{ assetPrefix }}/css/headers/header-v5.min.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/css/footers/footer-v3.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{{ assetPrefix }}/plugins/animate.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/plugins/scrollbar/css/jquery.mCustomScrollbar.css">

	{# FontIcons #}
	<link rel="stylesheet" href="{{ assetPrefix }}/css/fonticons.css">

	{% block css %}{% endblock %}
	{% if sails.config.analytics %}{% include 'components/analytics.swig.html' %}{% endif %}
</head>

<body class="header-fixed">
<div class="wrapper">

	{% include 'components/navigation.swig.html' %}
	{% if breadcrumbs %}
		{% include 'components/breadcrumbs.swig.html' %}
	{% endif %}

	{% block content %}{% endblock %}

	{% include 'components/footer.swig.html' %}
</div>
<!--/wrapper-->

{# Sync Plugins #}
<script src="{{ assetPrefix }}/plugins/jquery/jquery.js"></script>
<script src="{{ assetPrefix }}/plugins/jquery/jquery-migrate.js"></script>
<script src="{{ assetPrefix }}/plugins/sails.io.js"></script>
<script src="{{ assetPrefix }}/plugins/bootstrap-3.3.4/js/bootstrap.js"></script>
<script src="{{ assetPrefix }}/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

{# Async Plugins #}
<script async src="{{ assetPrefix }}/plugins/back-to-top.js"></script>
<script async src="{{ assetPrefix }}/plugins/smoothScroll.js"></script>

<!--[if lt IE 9]>
<script async src="{{ assetPrefix }}/plugins/respond.js"></script>
<script async src="{{ assetPrefix }}/plugins/html5shiv.js"></script>
<script async src="{{ assetPrefix }}/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<script async>
	var App = function () {
		function handleBootstrap() {
			/*Bootstrap Carousel*/
			jQuery('.carousel').carousel({
				interval: 15000,
				pause: 'hover'
			});

			/*Tooltips*/
			jQuery('.tooltips').tooltip();
			jQuery('.tooltips-show').tooltip('show');
			jQuery('.tooltips-hide').tooltip('hide');
			jQuery('.tooltips-toggle').tooltip('toggle');
			jQuery('.tooltips-destroy').tooltip('destroy');

			/*Popovers*/
			jQuery('.popovers').popover();
			jQuery('.popovers-show').popover('show');
			jQuery('.popovers-hide').popover('hide');
			jQuery('.popovers-toggle').popover('toggle');
			jQuery('.popovers-destroy').popover('destroy');
		}

		function handleSearchV1() {
			jQuery('.search-button').click(function () {
				jQuery('.search-open').slideDown();
			});

			jQuery('.search-close').click(function () {
				jQuery('.search-open').slideUp();
			});

			jQuery(window).scroll(function () {
				if (jQuery(this).scrollTop() > 1) jQuery('.search-open').fadeOut('fast');
			});

		}

		function handleToggle() {
			jQuery('.list-toggle').on('click', function () {
				jQuery(this).toggleClass('active');
			});
		}

		function handleBoxed() {
			jQuery('.boxed-layout-btn').click(function () {
				jQuery(this).addClass("active-switcher-btn");
				jQuery(".wide-layout-btn").removeClass("active-switcher-btn");
				jQuery("body").addClass("boxed-layout container");
			});
			jQuery('.wide-layout-btn').click(function () {
				jQuery(this).addClass("active-switcher-btn");
				jQuery(".boxed-layout-btn").removeClass("active-switcher-btn");
				jQuery("body").removeClass("boxed-layout container");
			});
		}

		function handleMegaMenu() {
			$(document).on('click', '.mega-menu .dropdown-menu', function (e) {
				e.stopPropagation()
			})
		}

		return {
			init: function () {
				handleBootstrap();
				handleSearchV1();
				handleToggle();
				handleBoxed();
				handleMegaMenu();
			},

			initScrollBar: function () {
				jQuery('.mCustomScrollbar').mCustomScrollbar({
					theme: "minimal",
					scrollInertia: 300,
					scrollEasing: "linear"
				});
			},

			initCounter: function () {
				jQuery('.counter').counterUp({
					delay: 10,
					time: 1000
				});
			},

			initParallaxBg: function () {
				jQuery('.parallaxBg').parallax("50%", 0.2);
				jQuery('.parallaxBg1').parallax("50%", 0.4);
			}
		};
	}();

	io.sails.transports = ['polling'];

	jQuery(document).ready(function () {
		App.init();
		App.initScrollBar();
	});

	io.socket.on('connect', function () {
		io.socket.on('notification', function (data) {
			console.log(data)
		});
	});
</script>
{% block scripts %}{% endblock %}
</body>
</html>