<ul id="notificationAlert" class="list-inline shop-badge badge-lists badge-icons pull-right">
  <li>
    <i class="icon icon-bell"></i>
    <span id="notificationAlertText" class="badge badge-sea rounded-x">{{ user.notifications.length }}</span>
    <ul class="list-unstyled badge-open mCustomScrollbar" data-mcs-theme="minimal-dark">
      {% for notification in user.notifications %}
      <li data-id="{{ notification.id }}" data-url="/profile/notification/{{ notification.id }}">
        <div class="overflow-h">
          <button type="button" class="close">×</button>
          <span class="clickable">{{ notification.message }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
