{% extends 'components/layout.swig.html' %}

{% block css %}
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{ assetPrefix }}/css/pages/page_404_error.css">
{% endblock %}

{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <!--Error Block-->
        <div class="row">
	        {% include 'components/flashhandler.swig.html' %}
	        <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">404</span>
                    <span>That's an error!</span>
                    {% if error %}
                        <p>{{ error }}</p>
                    {% else %}
                        <p>The requested URL was not found on this server. That's all we know.</p>
                    {% endif %}
                    <a class="btn-u btn-bordered" href="/">Back Home</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>
    <!--=== End Content Part ===-->
{% endblock %}
