<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

  <!--<link rel='stylesheet' href='https://raw.githubusercontent.com/enyo/dropzone/master/dist/dropzone.css'>-->
  <link rel='stylesheet' href='https://raw.githubusercontent.com/enyo/dropzone/master/dist/basic.css'>

  <link rel="stylesheet" href="//www.dropzonejs.com//css/dropzone.css?v=1423494334">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,500,300italic|Inconsolata:400,700" rel="stylesheet" type="text/css">
</head>
<body>
<div id="dropzone"><form action="/kek" class="dropzone" id="demo-upload">

  <div class="dz-message">
    Drop files here or click to upload.<br>
    <span class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
  </div>

</form></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
</body>
</html>
