<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="col-md-6">
  <div class="thumbnails thumbnail-style">
    <div class="responsive-video>">
      <iframe width="100%" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="caption">
      <div class="btn-group">
        <button type="button" class="btn-u btn-u-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Set as...
          <i class="icon icon-angle-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="action-highlight">Highlight Video</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn-u btn-u-red action-remove">Remove</button>
      </div>
    </div>
  </div>
</div>

<div class="responsive-video">
  <iframe width="100%" src="//www.youtube.com/embed/Squv4KI751w" frameborder="0" allowfullscreen=""></iframe>
</div>
</body>
</html>
