{% extends 'components/layout.swig.html' %}

{% block content %}
	<div class="container content">
		<div class="row-fluid privacy">
			<h3>All Developers Must Abide by the Developer Code of Conduct</h3>
			<ol>
				<li>I will be kind, courteous, and respectful</li>
				<li>I will always provide support to the best of my ability</li>
				<li>I will always put people before profit</li>
				<li>I will never attempt to mislead my customers or deliver an inferior product</li>
			</ol>
		</div><!--/row-fluid-->
	</div>
{% endblock %}
