{% extends 'components/layout.swig.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ assetPrefix }}/plugins/owl-carousel/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="{{ assetPrefix }}/plugins/revolution-slider/rs-plugin/css/settings.css">
{% endblock %}

{% block content %}
	<div class="container content">
		<div class="row-fluid privacy">
			<h3>All Developers Must Abide by the Developer Code of Conduct</h3>
			<ol>
				<li>I will be kind, courteous, and respectful</li>
				<li>I will always provide support to the best of my ability</li>
				<li>I will always put people before profit</li>
				<li>I will never attempt to mislead my customers or deliver an inferior product</li>
				<li>If I cannot handle a situation with a customer myself, I will elevate the ticket to Mod Mountain's support team</li>
			</ol>
		</div><!--/row-fluid-->
	</div>
{% endblock %}
