{% extends 'components/layout.swig.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ assetPrefix }}/plugins/owl-carousel/owl-carousel/owl.carousel.css">
{% endblock %}

{% block content %}
  {% if featuredAddons.length > 0 %}
    <a href="/addons/{{ featuredAddons[0].id }}"><img class="img-responsive"
        src="/addons/{{ featuredAddons[0].id }}/artwork/{{ featuredAddons[0].bannerImage }}"></a>
  {% endif %}

  <div class="container content-md">
    <div class="row margin-bottom-50">
      {% include 'components/flashhandler.swig.html' %}

      {% if popularTags.length > 0 %}
        {% include 'components/home/populartags.swig.html' %}
      {% endif %}
    </div>

    {% if featuredAddons.length > 0 %}
      {% include 'components/home/featuredaddons.swig.html' %}
    {% endif %}

    {% if latestAddons.length > 0 %}
      {% include 'components/home/latestaddons.swig.html' %}
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ assetPrefix }}/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
  <script>
    $(function () {
      var owl = $(".owl-slider").owlCarousel({
        itemsDesktop: [1000, 5],
        itemsDesktopSmall: [900, 4],
        itemsTablet: [600, 3],
        itemsMobile: [479, 2]
      });
      $(".next-v1").click(function () {
        owl.trigger('owl.next');
      });
      $(".prev-v1").click(function () {
        owl.trigger('owl.prev');
      });
    });
  </script>
{% endblock %}
