<div class="heading heading-v1 margin-bottom-20">
	<h2>Latest Addons</h2>
</div>

<div class="illustration-v2">
	<div class="customNavigation margin-bottom-25">
		<a class="owl-btn prev rounded-x"><i class="icon icon-angle-left"></i></a>
		<a class="owl-btn next rounded-x"><i class="icon icon-angle-right"></i></a>
	</div>
	<ul class="list-inline owl-slider">
		{% for addon in latestAddons %}
			<li class="item">
				<div class="product-img">
					<a href="/addons/{{ addon.id }}"><img class="full-width img-responsive lazyOwl" data-src="/addons/{{ addon.id }}/artwork/{{ addon.cardImage }}"
					                                      alt=""></a>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/addons/{{ addon.id }}">{{ addon.name }}</a></h4>
							<span class="gender text-uppercase">{{ addon.prettyGamemode() }}</span>
						</div>
						<div class="product-price">
							{% if addon.price > 0.0 %}
								{% if addon.discount > 0.0 %}
									<span class="title-price">${{ addon.price / 100 * (1.0 - addon.discount) }}</span>
									<span class="title-price line-through">${{ addon.price / 100 }}</span>
								{% else %}
									<span class="title-price">${{ addon.price / 100 }}</span>
								{% endif %}
							{% else %}
								<span class="title-price">Free</span>
							{% endif %}
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
